form{
     margin-right: var(--section-margins);
     display:flex;
     flex-direction:column;
     label {
          display:block;
     }
     select{
          width: var(--max-size);
          padding: 6px 10px;
     }
     input {
          padding: 4px 10px;
          &[type=color]{
               height:30px;
               width: 70px;
               padding: 4px;
          }
          &[type=text]{
               width: 120px;
          }
     }
     .colorSelector{
          @include flex(row);
     }
     .schemeSelector{
          margin-top: var(--section-margins);
     }
     .warning {
          font-family: "Montserrat";
          font-size: 0.7rem;
          text-align: center;
          margin: 0 0 15px 0;
     }
}