.roomList{
     @include flex(row);
     @include lists(20px auto);
     max-width: 670px;
     padding-left: 0px;
     li {
          height: 100px;
          img{
               max-height: var(--max-size);
          }
          a{
               display:inline-block;
               height: var(--max-size);
          }
     }
}