.imageContainer{
     position:relative;
     .color1{
          position:absolute;
          width: 88%;
          height:81%;
          border: 1px solid yellow;
     }
     .color2 {
          position:absolute;
          right:0;
          width: 12%;
          height: 90%;
          border: 1px solid blue;
     }
     .color3{
          position:absolute;
          bottom: 10%;
          left:26%;
          width: 41%;
          height: 12%;
          border: 1px solid red;
     }
     .color4{
          position:absolute;
          bottom: 30%;
          left: 30%;
          width: 34%;
          height:9%;
          border: 1px solid purple;
     }
}