main {
     display:flex;
     flex-direction: column;
     margin-left: 20px;
}

.imageContainer{
     position:relative;
     img{
          position:relative;
          z-index:20;
     }
     div{
          position:absolute;
          background-color: transparent;
     }
     .color1{
          width: 88%;
          height:82%;
          // border: 1px solid yellow;
     }
     .color2 {
          right:0;
          width: 12%;
          height: 90%;
          // border: 1px solid blue;
     }
     .color3{
          bottom: 10%;
          left:26%;
          width: 41%;
          height: 12%;
          // border: 1px solid red;
     }
     .color4{
          bottom: 30%;
          left: 30%;
          width: 34%;
          height:10%;
          // border: 1px solid purple;
     }
}