.colorsList {
  padding-left: 0px;
  p{
    margin:0 0 5px 0;
  }
}

.individualColor {
  display:flex;
  margin-bottom: 20px;
  div {
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
}

.swatch {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 10px;
}
