.colorsList {
  padding-left: 0px;
  margin-top: 50px;
  p{
    margin:0 0 5px 0;
  }
}

.individualColor {
  display:flex;
  margin: 0 20px 20px 0;
  div {
    display:flex;
    flex-direction: column;
    justify-content: center;
  }
}

.swatch {
  flex-shrink: 0;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 1px solid var(--dark-grey-outline);
  margin-right: var(--word-margins);
}
