@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Poiret+One&display=swap');

@import './partials/baseStyles';
@import './partials/colorSelection';
@import './partials/form';
@import './partials/swatches';
@import './partials/navigation';
@import './partials/pictureGallery';
@import './partials/mediaQueries';

.app {
  min-height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.flexContainer {
  display:flex;
}